DEMO_MODE=true
APP_URL=http://localhost:3000
DATABASE_URL=
X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URI=
X_OAUTH_SCOPES=tweet.read tweet.write users.read offline.access like.read list.read follows.read bookmark.read
COOKIE_SECURE=
BLOB_BASE_URL=
CRON_SECRET=
